<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>

<body>
    <section>
        <h1>Contact details</h1>

        <!-- <h1>User Name <span th:text="${user.name}"></span></h1>
        <h1>User Email <span th:text="${user.email}"></span></h1> -->

    </section>
</body>

</html>